<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/whatsapp_image_2022_06_01_at_11_13_57_am"
        android:label="Hawk Eye Advance"
        android:roundIcon="@drawable/whatsapp_image_2022_06_01_at_11_13_57_am"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ObjectDetection">

        <activity
            android:name=".DetectorActivity"
            android:label="Hawk Eye Advance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
